<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="host" value="hostname"/>
    <add key="user" value="user-value" />
    <add key="password" value="password"/>

    <add key="source-directory" value="c:\\temp\\sftp-testing\\"/>
    <add key="localZipFileName" value="c:\\temp\\sftp-testing-spike.zip"/>

    <add key="timerMinutes" value="1"/>
  </appSettings>
  
</configuration>